In [2]:
import numpy as np
import pandas as pd

In [15]:
data = pd.read_csv("../track-a.csv")
data.head()
data.tail()
data.describe()

             anger         fear          joy      sadness     surprise
count  2768.000000  2768.000000  2768.000000  2768.000000  2768.000000
mean      0.120303     0.582009     0.243497     0.317197     0.303107
std       0.325375     0.493318     0.429270     0.465469     0.459684
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     1.000000     0.000000     0.000000     0.000000
75%       0.000000     1.000000     0.000000     1.000000     1.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

In [12]:
#look at stuff
#find null values
data.isna().sum()
data.columns

Index(['id', 'text', 'anger', 'fear', 'joy', 'sadness', 'surprise'], dtype='object')

             anger         fear          joy      sadness     surprise
count  2768.000000  2768.000000  2768.000000  2768.000000  2768.000000
mean      0.120303     0.582009     0.243497     0.317197     0.303107
std       0.325375     0.493318     0.429270     0.465469     0.459684
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     1.000000     0.000000     0.000000     0.000000
75%       0.000000     1.000000     0.000000     1.000000     1.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

In [ ]:
#wordcount per text